name: Pull and Package Airbyte Images

on:
  workflow_dispatch: # 允许手动触发
  push:
    branches: [ main, master ]

jobs:
  pull-and-package:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Pull Airbyte images
        run: |
          # 拉取所有指定的 Airbyte 相关镜像
          # docker pull airbyte/server:build-fd34e2f9d7-23826-master
          # docker pull airbyte/workload-launcher:build-fd34e2f9d7-23826-master
          # docker pull airbyte/keycloak-setup:build-fd34e2f9d7-23826-master
          # docker pull airbyte/cron:build-fd34e2f9d7-23826-master
          # docker pull airbyte/worker:build-fd34e2f9d7-23826-master
          docker pull airbyte/workload-api-server:build-fd34e2f9d7-23826-master
          docker pull airbyte/bootloader:build-fd34e2f9d7-23826-master
          docker pull airbyte/connector-rollout-worker:build-fd34e2f9d7-23826-master
          docker pull airbyte/metrics-reporter:build-fd34e2f9d7-23826-master
          docker pull airbyte/db:build-fd34e2f9d7-23826-master
          # docker pull airbyte/keycloak:build-fd34e2f9d7-23826-master
          # docker pull airbyte/connector-builder-server:dev-1279e46792
          # docker pull airbyte/webapp:1.7.8
          # docker pull airbyte/airbyte-base-java-image:3.3.7
          # docker pull temporalio/auto-setup:1.27.2
          # docker pull temporalio/ui:2.30.1
          # docker pull minio/minio:RELEASE.2023-11-20T22-40-07Z

      - name: Save all images to single tar file
        run: |
          # 将所有镜像保存到一个 tar 文件中
          docker save -o airbyte-img.tar \
            airbyte/workload-api-server:build-fd34e2f9d7-23826-master \
            airbyte/bootloader:build-fd34e2f9d7-23826-master \
            airbyte/connector-rollout-worker:build-fd34e2f9d7-23826-master \
            airbyte/metrics-reporter:build-fd34e2f9d7-23826-master \
            airbyte/db:build-fd34e2f9d7-23826-master
            # airbyte/keycloak:build-fd34e2f9d7-23826-master \
            # airbyte/connector-builder-server:dev-1279e46792 \
            # airbyte/webapp:1.7.8 \
            # airbyte/airbyte-base-java-image:3.3.7 \
            # temporalio/auto-setup:1.27.2 \
            # temporalio/ui:2.30.1 \
            # minio/minio:RELEASE.2023-11-20T22-40-07Z \

      - name: Display file size
        run: |
          echo "Generated tar file size:"
          ls -lh airbyte-img.tar

      - name: Upload airbyte images package
        uses: actions/upload-artifact@v4
        with:
          name: airbyte-images-package
          path: airbyte-img.tar
          retention-days: 30
